/* .header {
    background-color: black; /* Header background color */
    /* color: white; /* Text color */
    /*  padding: 10px 20px; /* Padding for header */
    /* transition: all 0.3s ease; Smooth transition for fixed position */
  /* }* */
  

  
  /* .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; /* Adjust max-width as needed */
    /* margin: 0 auto; Center the container */
  /* } */ 
  