/* Main slider container */
.image-slider {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 40px;
  height: auto;
}

/* Each slide styles */
.image-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 300px;
  margin-bottom: 0;
}

.image-slide-centered {
  opacity: 1;
  filter: none;
}

.image-slide:not(.image-slide-centered) {
  opacity: 0.5;
  filter: blur(5px);
}

.image-slide img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Custom navigation buttons */
.custom-button-prev,
.custom-button-next {
  width: 40px;
  height: 40px;
  color: #ff5722;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.custom-button-prev {
  left: 10px;
}

.custom-button-next {
  right: 10px;
}

.custom-button-prev:hover,
.custom-button-next:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* Optional arrow icons */
.custom-button-prev::after,
.custom-button-next::after {
  font-size: 20px;
  color: #ff5722;
}

/* Pagination styles */
.custom-pagination {
  margin-top: 10px !important;
}

.custom-bullet {
  background-color: #007bff;
  width: 10px;
  height: 10px;
  transition: background-color 0.3s;
}

.custom-bullet-active {
  background-color: #ff5722;
}

/* Slide text */
.slide-text {
  text-align: center;
  color: #fff;
  margin-top: 10px;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .image-slide {
      width: 90%;
      height: auto;
  }

  .swiper-button-prev,
  .swiper-button-next {
      width: 30px;
      height: 30px;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
      font-size: 16px;
  }

  .slide-text {
      font-size: 1rem;
  }
}
